.posts__search {
  height: 100px;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.posts__content {
  display: flex;
  flex-flow: row wrap;

  .posts__section {
    flex: 1;
  }
}

.posts__list {
  padding: 0 0.5rem;
  height: calc(100vh - 100px);
  overflow-y: scroll;

  .list__item {
    margin: 0.5rem 1rem;
    padding: 0.5rem;
    border: solid 2px grey;
    border-radius: 10px;

    .post__title {
      margin-top: 0.5rem;
    }
  }
}

.posts__stats {
  text-align: center;
  display: flex;
  flex-flow: column;

  .stats__section {
    flex: 1;
    border-left: solid 4px grey;
  }

  .posts__words {
    border-bottom: solid 4px grey;
  }
}