<div class="posts__wrapper">
  <div class="posts__search">
    Select a Username: <select [(ngModel)]="userId" (ngModelChange)="onUserSelected($event)">
      <option *ngFor="let user of users" [value]="user.id" class="user__{{user.username | lowercase }}" id="{{user.id}}">{{ user.name }}</option>
    </select>
  </div>

  <div class="posts__content">
    <div class="posts__section posts__list">
      <div *ngFor="let post of posts" class="list__item">
        <h4 class="post__title">{{ post.title | titlecase }}</h4>
        <div class="post__body">{{ post.body }}</div>
      </div>
    </div>
    <div class="posts__section posts__stats">
      <div class="stats__section posts__words">
        words table
      </div>
      <div class="stats__section posts__count">
        <h3 class="count__title">Count of Top 10 Words</h3>
      </div>
    </div>
  </div>
</div>
